<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625319021975-fsku0onj1n5e98jtrbn578afkaqr1lbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625319021975-fsku0onj1n5e98jtrbn578afkaqr1lbe</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>625319021975-vaua421b4v0gaj2ckc1lu75gbia2eem2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCam7OJZXciy5H5QmaPfRjQ7yrbBHNuCAw</string>
	<key>GCM_SENDER_ID</key>
	<string>625319021975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iare.eventx</string>
	<key>PROJECT_ID</key>
	<string>iare-tech-fest</string>
	<key>STORAGE_BUCKET</key>
	<string>iare-tech-fest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625319021975:ios:be9a35f889704f450f48d2</string>
	<key>DATABASE_URL</key>
	<string>https://iare-tech-fest-default-rtdb.firebaseio.com</string>
</dict>
</plist>